@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #0a0a0a;
	color: #FFF;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	background-color: #171717;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	margin: 1rem;
	border-radius: 3em;
}

.header-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: default;
}

.header-navigation {
	display: flex;
	gap: 1em;
}

.header-navigation .nav-link {
	color: #a1a1a1;
	text-decoration: none;
}

.header-navigation .nav-link:hover,
.header-navigation .nav-link:focus,
.header-navigation .nav-link[aria-current="page"] {
	color: #fff;
}

.main-content {
	flex-grow: 1;
}

.profile-image {
	width: 10rem;
	border-radius: 100%;
}

.profile-name {
	color: #FFF;
	text-align: center;
}

section {
	padding: 0.1em 3em;
}

section h2 {
	text-align: center;
}

.projects-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.project-card {
	background-color: #18181b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	padding: 1em;
}

.project-card .project-image {
	width: 45%;
	height: auto;
	object-fit: contain;
}

.project-card .project-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.project-card .project-title {
	font-size: 1.5rem;
	margin: 0.5rem 0;
}

.project-card .project-language {
	font-size: 1.2rem;
	margin: 0.2rem 0;
}

.project-card .project-description {
	margin: 0.5rem 0;
}

.footer {
	background-color: #171717;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
	margin-top: 2rem;
}

.footer-links {
	display: flex;
	gap: 1em;
	padding: 0;
}

.footer-links .footer-link-item {
	list-style-type: none;
}

.footer-links .footer-link-item .footer-link {
	color: #a1a1a1;
	text-decoration: none;
}

.footer-links .footer-link-item .footer-link:hover,
.footer-links .footer-link-item .footer-link:focus {
	color: #fff;
}

@media (min-width: 768px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1em 4em;
		margin: 1rem;
	}

	.header-profile {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1em;
	}

	.profile-image {
		width: 3rem;
	}

	.profile-name {
		font-size: 1.5em;
	}

	.projects-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1em;
	}

	.project-card {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		padding: 1em;
		width: 30%;
	}

	.project-card .project-image {
		width: 30%;
		height: auto;
		object-fit: contain;
	}

	.project-card .project-details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0.3em;
	}

	.project-card .project-title {
		font-size: 1.2rem;
	}

	.project-card .project-language {
		font-size: 0.9rem;
	}

	.project-card .project-description {
		font-size: 0.7rem;
	}

	.project-card .project-description {
		margin: 0.5rem 0;
	}
}

@media (min-width: 1024px) {
	section {
		max-width: 1024px;
		margin: 0 auto;
	}
}
